body{
    background-color:black /*zwarte achtergrond*/
}

h1{
    color:#ffffff; font-family:verdana;  /*wit/verdana lettertype bij heading1*/
}
ul{
    color:#ffffff; font-family: 'century gothic', sans-serif;/*wit/century gothic lettertype bij lijst*/
}
h3{
    color:#ffffff; font-family: 'century gothic', sans-serif;/*wit/century gothic lettertype bij heading3*/
}
p{
    color:#ffffff; font-family: 'courier new', sans-serif/*wit/courir new lettertype bij paragraph*/
}
html,body{
    height:93,25%;/*hoogte pagina, 93,25% zodat rooster op pagina past*/
    margin:0
}
.driepuntjes{ /*eigen stijl voor .driepuntjes op profielpagina*/
    position:absolute;
    top:15px;
    right:10px;
    cursor:pointer;
    font-size:80px;
}
.menu{ /*eigen stijl voor menu wanneer op de driepuntjes wordt gedrukt*/
    display:none;
    position:absolute;
    top:40px;
    right:10px;
}
table{ /*stijl tabel*/
    border-collapse:collapse;
    width:100%;
    height:100%
}
tr:nth-child(even) { /*andere achtergrondkleur voor even en oneven rijen*/
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color:#ccc
}
th{/*stijl tabel*/
    background-color:#D4A5A5
}
th,td{/*stijl tabel*/
    padding:10px
}
