body{
    background-color:black; /*zwarte achtergrond*/
    display: flex;
  flex-direction: column;
  min-height: 100vh;

}

h1{
    color:#ffffff; font-family:verdana;  /*wit/verdana lettertype bij heading1*/
}
ul{
    color:#ffffff; font-family: 'century gothic', sans-serif;/*wit/century gothic lettertype bij lijst*/
}
h3{
    color:#ffffff; font-family: 'century gothic', sans-serif;/*wit/century gothic lettertype bij heading3*/
}
p{
    color:#ffffff; font-family: 'courier new', sans-serif/*wit/courir new lettertype bij paragraph*/
}
#specialP{
    color:#000; font-family: 'courier new', sans-serif;/*wit/courir new lettertype bij paragraph*/
    padding-left:20px;
}
html,body{
    height:100%;/*hoogte pagina, 100%*/
    margin:0
}
.driepuntjes{ /*eigen stijl voor .driepuntjes op profielpagina*/
    position:absolute;
    top:15px;
    right:10px;
    cursor:pointer;
    font-size:80px;
}
.menu{ /*eigen stijl voor menu wanneer op de driepuntjes wordt gedrukt*/
    display:none;
    position:absolute;
    top:40px;
    right:10px;
}
table{ /*stijl tabel*/
    border-collapse:collapse;
    width:100%;
    height:100%
}
tr:nth-child(even) { /*andere achtergrondkleur voor even en oneven rijen*/
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color:#ccc
}
th{/*stijl tabel*/
    background-color:#D4A5A5
}
th,td{/*stijl tabel*/
    padding:10px
}
/*style voor beide kanten*/
.split {
  height: 100%;
  position: fixed;
  z-index: 1;/*zorgt ervoor dat dit de onderste laag is*/
  top: 0;
  overflow-x: hidden; /*verbergt horizontale scrollbar*/
  padding-top: 20px;
  background-color:#D4A5A5; /* 1 achtergrondkleur voor zoekbalk en left panel */
}

/* style linkerkant */
.left {
    display:flex;
    flex-direction:column;
    left: 0;
    width:70%;
}

/* style rechterkant */
.right {
    right: 0;
    width:30%;
  
}

#myInput {
    width: 100%; /* breedte */
    font-size: 18px; /* lettergrootte in zoekbalk */
    padding: 12px;
    border: 1px solid #ddd; /* grijze rand */
    margin-bottom: 12px; /* ruimte tussen zoekbalk en namen */
}

#myUL {
/* Standaard stijl voor lijst weghalen */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    background-color: #fff; /* witte achtergrond */
    padding: 12px; 
    text-decoration: none; /* streep onder tekst weg */
    font-size: 18px;
    color: black;
    display: block; /* zorgt ervoor dat de lijst de hele rechterkant vult */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* hover effect op alles behalve de header */
}

#titleDiv{
    background-color: #D4A5A5;
    padding: 20px;
    position: relative;
    margin: 5px;
    border-radius:5px;
}
footer{
    margin-top:auto; /*zorgt ervoor dat footer rechtsonder is*/
    margin-left:auto;
}
